# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load the exported csv from WeatherPy
city_data = pd.read_csv('../output_data/cities.csv')
city_data.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,suntar,62.1444,117.6319,33.26,64.0,100.0,4.00,RU,1.650764e+09
1,atuona,-9.8000,-139.0333,79.50,77.0,76.0,16.64,PF,1.650764e+09
2,talnakh,69.4865,88.3972,-0.80,95.0,56.0,3.02,RU,1.650764e+09
3,sao joao,-8.8756,-36.3667,68.23,95.0,86.0,4.65,BR,1.650764e+09
4,ushuaia,-54.8000,-68.3000,42.46,75.0,40.0,2.30,AR,1.650764e+09
5,bambous virieux,-20.3428,57.7575,75.45,69.0,40.0,16.11,MU,1.650764e+09
6,ribeira grande,38.5167,-28.7000,58.75,68.0,64.0,19.37,PT,1.650764e+09
7,qaanaaq,77.4840,-69.3632,-4.00,77.0,27.0,6.51,GL,1.650764e+09
8,azimur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,uribia,11.7139,-72.2660,81.41,68.0,98.0,14.18,CO,1.650764e+09

In [3]:
# Drop records with missing latitude and longitude
city_data_cleaned = city_data.dropna(how='any')
city_data_cleaned.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,suntar,62.1444,117.6319,33.26,64.0,100.0,4.00,RU,1.650764e+09
1,atuona,-9.8000,-139.0333,79.50,77.0,76.0,16.64,PF,1.650764e+09
2,talnakh,69.4865,88.3972,-0.80,95.0,56.0,3.02,RU,1.650764e+09
3,sao joao,-8.8756,-36.3667,68.23,95.0,86.0,4.65,BR,1.650764e+09
4,ushuaia,-54.8000,-68.3000,42.46,75.0,40.0,2.30,AR,1.650764e+09
5,bambous virieux,-20.3428,57.7575,75.45,69.0,40.0,16.11,MU,1.650764e+09
6,ribeira grande,38.5167,-28.7000,58.75,68.0,64.0,19.37,PT,1.650764e+09
7,qaanaaq,77.4840,-69.3632,-4.00,77.0,27.0,6.51,GL,1.650764e+09
9,uribia,11.7139,-72.2660,81.41,68.0,98.0,14.18,CO,1.650764e+09
10,hithadhoo,-0.6000,73.0833,84.45,73.0,100.0,5.99,MV,1.650764e+09

In [4]:
city_data_cleaned.dtypes

City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity      float64
Cloudiness    float64
Wind Speed    float64
Country        object
Date          float64
dtype: object

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(g_key)

# Set longtitude, latitude and humidity as the weight
coords = city_data_cleaned[["Lat","Lng"]]
weights = city_data_cleaned["Humidity"]

# Add heatmap layer to map
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(coords, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Set criteria for max temperature, wind speed and cloudiness and reset index
city_data_cleaned_final = city_data_cleaned.loc[(city_data_cleaned['Max Temp'] < 80) &
                                                (city_data_cleaned['Max Temp'] > 70) &
                                                (city_data_cleaned['Cloudiness'] == 0) &                                                
                                                (city_data_cleaned['Wind Speed'] < 8),:]
city_data_cleaned_final = city_data_cleaned_final.reset_index(drop=True)
city_data_cleaned_final

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,carnarvon,-24.8667,113.6333,73.47,83.0,0.0,5.75,AU,1.650764e+09
1,saint-pierre,-21.3393,55.4781,73.90,69.0,0.0,6.91,RE,1.650764e+09
2,wyndham,37.6985,-77.6125,72.39,72.0,0.0,5.75,US,1.650765e+09
3,hamilton,39.1834,-84.5333,74.64,56.0,0.0,5.75,US,1.650764e+09
4,sao filipe,14.8961,-24.4956,74.23,75.0,0.0,7.38,CV,1.650765e+09
5,korla,41.7597,86.1469,71.29,20.0,0.0,4.76,CN,1.650765e+09
6,natal,-5.7950,-35.2094,74.05,100.0,0.0,4.61,BR,1.650765e+09
7,new port richey,28.2442,-82.7193,77.02,66.0,0.0,7.00,US,1.650764e+09
8,inhambane,-23.8650,35.3833,71.89,85.0,0.0,1.63,MZ,1.650765e+09
9,shangrao,28.4532,117.9686,78.33,74.0,0.0,4.29,CN,1.650765e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Store into variable named hotel_df
hotel_df = city_data_cleaned_final

# Add a hotel name column to the dataframe
hotel_df['Hotel Name'] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,carnarvon,-24.8667,113.6333,73.47,83.0,0.0,5.75,AU,1.650764e+09,
1,saint-pierre,-21.3393,55.4781,73.90,69.0,0.0,6.91,RE,1.650764e+09,
2,wyndham,37.6985,-77.6125,72.39,72.0,0.0,5.75,US,1.650765e+09,
3,hamilton,39.1834,-84.5333,74.64,56.0,0.0,5.75,US,1.650764e+09,
4,sao filipe,14.8961,-24.4956,74.23,75.0,0.0,7.38,CV,1.650765e+09,
5,korla,41.7597,86.1469,71.29,20.0,0.0,4.76,CN,1.650765e+09,
6,natal,-5.7950,-35.2094,74.05,100.0,0.0,4.61,BR,1.650765e+09,
7,new port richey,28.2442,-82.7193,77.02,66.0,0.0,7.00,US,1.650764e+09,
8,inhambane,-23.8650,35.3833,71.89,85.0,0.0,1.63,MZ,1.650765e+09,
9,shangrao,28.4532,117.9686,78.33,74.0,0.0,4.29,CN,1.650765e+09,

In [8]:
# Use iterrows to iterate through pandas dataframe and return the location
for index, row in hotel_df.iterrows():
    
    # Get city, latitude and longtitude data from hotel_df
    latitude = row['Lat']
    longtitude = row['Lng']
    city_name = row['City']
    
    # Update location parameter
    location = f'{latitude}, {longtitude}'
    
    # Assemble url and make API request    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=loding"
    query_search = base_url + '&location=' + location + '&key=' + g_key
    response = requests.get(query_search).json()
    results = response['results']
    
    # Extract hotel results and apply try and except
    try:
        print(f"Retrieving Hotel Result for Index {index}, {city_name.title()}: {(results[0]['name']).title()}")
        hotel_df.loc[index, 'Hotel Name'] = (results[0]['name']).title()
    except (KeyError, IndexError):
        print(f"Missing result for Index {index}, {city_name}: Skipping!.")

print('------------------------------')
print('Data Retrieval Complete')
print('------------------------------')

Retrieving Hotel Result for Index 0, Carnarvon: Carnarvon Motel
Retrieving Hotel Result for Index 1, Saint-Pierre: Lodge Palmae
Retrieving Hotel Result for Index 2, Wyndham: Hilton Richmond Hotel & Spa/Short Pump
Retrieving Hotel Result for Index 3, Hamilton: Graduate Cincinnati
Retrieving Hotel Result for Index 4, Sao Filipe: La Fora Ecolodge
Retrieving Hotel Result for Index 5, Korla: The Garden Hotel Korla
Retrieving Hotel Result for Index 6, Natal: Yak Beach Hotel
Retrieving Hotel Result for Index 7, New Port Richey: Quality Inn & Suites Conference Center
Retrieving Hotel Result for Index 8, Inhambane: Hotel Casa Do Capitão
Retrieving Hotel Result for Index 9, Shangrao: Wanda Realm Shangrao
------------------------------
Data Retrieval Complete
------------------------------

In [10]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,carnarvon,-24.8667,113.6333,73.47,83.0,0.0,5.75,AU,1.650764e+09,Carnarvon Motel
1,saint-pierre,-21.3393,55.4781,73.90,69.0,0.0,6.91,RE,1.650764e+09,Hôtel Le Saint-Pierre
2,wyndham,37.6985,-77.6125,72.39,72.0,0.0,5.75,US,1.650765e+09,Hilton Richmond Hotel & Spa/Short Pump
3,hamilton,39.1834,-84.5333,74.64,56.0,0.0,5.75,US,1.650764e+09,Graduate Cincinnati
4,sao filipe,14.8961,-24.4956,74.23,75.0,0.0,7.38,CV,1.650765e+09,Hotel Ocean View & Restaurante Seafood
5,korla,41.7597,86.1469,71.29,20.0,0.0,4.76,CN,1.650765e+09,The Garden Hotel Korla
6,natal,-5.7950,-35.2094,74.05,100.0,0.0,4.61,BR,1.650765e+09,Yak Beach Hotel
7,new port richey,28.2442,-82.7193,77.02,66.0,0.0,7.00,US,1.650764e+09,Quality Inn & Suites Conference Center
8,inhambane,-23.8650,35.3833,71.89,85.0,0.0,1.63,MZ,1.650765e+09,Hotel Casa Do Capitão
9,shangrao,28.4532,117.9686,78.33,74.0,0.0,4.29,CN,1.650765e+09,Wanda Realm Shangrao

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))